@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
  /* cuando haya como minimo 600px, las cosas se acomodan de la siguiente forma*/
  /* cuando haya como minimo 600px, las cosas se acomodan de la siguiente forma*/ }
  body ul {
    padding: 0px 30px;
    list-style: none; }
  body img {
    width: 100px; }
  body h1 {
    font-size: 1.2rem;
    font-weight: 600;
    display: inline-block;
    padding: 30px; }
  body h2 {
    font-size: 1.2rem;
    margin: 5px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bolder; }
  body h3 {
    font-weight: bolder;
    font-size: 1rem; }
  body .div-body-grid-content {
    display: grid;
    grid-template-areas: "wrapper wrapper" "about about " "footer footer"; }
  body .wrapper {
    width: 100vw;
    height: 50vh;
    background-color: pink;
    color: #aa001c;
    grid-area: wrapper;
    grid-template-areas: "header header" "main main"; }
    body .wrapper .header {
      background-color: pink;
      color: #aa001c;
      grid-area: header; }
      body .wrapper .header .navbar-sinB {
        display: flex;
        align-items: center;
        grid-area: navbar;
        text-decoration: none;
        text-align: center;
        justify-content: space-around; }
        body .wrapper .header .navbar-sinB .nav-link {
          margin: 0px 10px;
          text-align: center; }
          body .wrapper .header .navbar-sinB .nav-link:hover {
            transform: scale(1.1, 1.3);
            transition: ease-in .2s; }
      body .wrapper .header .navbar {
        font-weight: bolder;
        font-size: 1rem; }
        body .wrapper .header .navbar .nav-link {
          margin: 0px 10px;
          text-align: center; }
          body .wrapper .header .navbar .nav-link:hover {
            transform: scale(1.1, 1.3);
            transition: ease-in .2s; }
        body .wrapper .header .navbar .menu {
          /*para pantallas hasta 600px: display:grid; para más: display:flex; */
          display: grid;
          text-align: center;
          width: 50%;
          justify-content: space-around;
          list-style: none; }
          body .wrapper .header .navbar .menu .menu ul li {
            display: flex; }
            body .wrapper .header .navbar .menu .menu ul li a {
              color: #aa001c;
              padding: 10px 20px;
              font-weight: bold;
              font-size: 0.5rem;
              text-decoration: none; }
              body .wrapper .header .navbar .menu .menu ul li a:hover {
                background-color: white;
                color: black;
                transition: ease-in .4s; }
  body .main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    grid-area: main; }
    body .main .info-content {
      display: flex;
      flex-flow: column wrap;
      align-items: center; }
      body .main .info-content .download-cv {
        padding: 7px 20px;
        background-color: #f35fb5;
        font-style: bold;
        font-size: 1rem;
        border: none;
        border-radius: 20px;
        margin-top: 5px;
        cursor: pointer;
        box-shadow: 1px 2px #f040a6;
        font-weight: 900;
        color: white; }
        body .main .info-content .download-cv:hover {
          background-color: #fdcdcd; }
    body .main .img-woman {
      border: 7px;
      text-align: center; }
  body .about, body .about-info {
    margin-bottom: 1em;
    font-size: 0.9rem;
    font-weight: bolder;
    padding: 30px; }
  body .about {
    width: 100vw;
    align-items: center;
    grid-area: about;
    /*para pantallas hasta 480px: display:none; para más: display:flex; */ }
    body .about .image-indi {
      display: none;
      height: fit-content; }
    body .about .contact-me {
      display: flex;
      justify-content: center; }
      body .about .contact-me input, body .about .contact-me textarea {
        width: 90vw; }
    body .about .about-info {
      padding: 1rem;
      font-size: 0.9rem;
      font-weight: bolder; }
      body .about .about-info .divider {
        height: 4px;
        width: 120px;
        background-color: black;
        margin-top: 0px;
        margin-bottom: 1rem;
        margin-left: 1rem; }
    body .about .about-info-conB {
      padding: 1rem;
      font-size: 0.9rem;
      font-weight: bolder; }
    body .about .contactMe {
      grid-column: 1/7; }
  body .about-conB {
    align-items: center;
    justify-content: center; }
  body .about-achievements {
    grid-column: 1/5;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bolder; }
  body .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    text-align: center;
    border-top: pink 2px;
    border-top-style: solid;
    padding: 0.5rem 0;
    color: #f040a6;
    font-weight: bold;
    margin-top: auto; }

@keyframes beat {
  to {
    transform: scale(1.4); } }
    body .footer .img-heart {
      width: 25px;
      font-size: 20px;
      color: #e00;
      animation: beat .25s infinite alternate;
      transform-origin: center; }
    body .footer p {
      margin: 20px; }
  @media only screen and (min-width: 600px) {
    body .wrapper {
      width: 100vw;
      height: 60vh; }
    body .menu {
      display: flex;
      margin: 30px; }
      body .menu li a {
        padding: 10px;
        font-size: 0.7rem;
        display: block; }
    body .logo {
      width: 150px;
      height: 150px; }
    body .img-woman {
      width: 150px; } }
  @media only screen and (min-width: 768px) {
    body {
      /* .image-indi-sinB{
            display: flex;
            grid-column: 1/1;
        } */ }
      body .menu li a {
        padding: 10px;
        font-size: 1rem;
        display: block; }
      body .about-info {
        grid-column: 1/6; } }
  @media only screen and (min-width: 1024px) {
    body .navbar {
      font-weight: bolder; }
    body .navbar-collapse {
      flex-grow: 0; }
    body .brand {
      margin: 10px 20px; }
    body h1 {
      display: inline-block;
      font-size: 2rem; }
    body .about {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      font-size: 1rem; }
      body .about .image-indi-div {
        grid-column: 1/3;
        display: flex;
        justify-content: center; }
      body .about .about-info {
        grid-column: 3/6; }
    body .about-achievements {
      font-size: 1rem; }
    body .image-indi {
      display: flex;
      height: 500px;
      width: max-content; }
    body .about, body .about-info p, body section {
      font-weight: bolder;
      padding: 30px; } }
  @media only screen and (min-width: 1200px) {
    body .header {
      padding: 0px; }
    body .navbar {
      padding: 0px; }
      body .navbar .nav-item {
        color: #aa001c;
        padding: 5px 5px;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: none; }
        body .navbar .nav-item .logo {
          width: 250px;
          height: 250px; }
    body img {
      width: 200px;
      border: 7px;
      text-align: center; }
    body .brand {
      margin: 10px 20px; }
    body h1 {
      font-size: 4rem;
      padding-left: 50px; }
    body .about-conB {
      font-size: 3rem; }
    body .about-info-conB, body p {
      font-size: 2rem; }
    body section {
      font-size: 1.5rem; }
    body .about-achievements {
      font-size: 1rem; }
    body h2 {
      font-size: 3rem;
      margin: 5px;
      margin-top: 30px;
      margin-left: 30px; }
    body h3 {
      font-size: 2.7rem; }
    body .img-woman {
      width: 300px;
      height: 400px;
      animation-name: move;
      animation-iteration-count: infinite;
      animation-duration: 5s; }
    body .download-cv {
      font-size: 1.7rem; } }
