@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.div-body-grid-content{
    display: grid;
    grid-template-areas: "wrapper wrapper wrapper wrapper"
                        "about about about about"
                        "footer footer footer footer";
}

.wrapper{
    width: 100vw;
    height: 50vh;
    background-color: pink;
    color: rgb(170, 0, 28);
    grid-area: wrapper;
    grid-template-areas: "navbar navbar"
                        "main main";
}

.navbar{
    display: flex;
    align-items: center;
    grid-area: navbar;
    text-decoration: none;
    text-align: center;
    justify-content: space-around;
}

/* para el logo que redirige al home */
.brand{
    margin: 0px 20px;
}

.menu{
    /*para pantallas hasta 600px: display:grid; para más: display:flex; */
    display: grid;
    text-align: center;
    width: 50%;
    justify-content: space-around;
    list-style: none;
} 

.menu ul li{
    display: flex;
}

ul{
    padding: 0px 30px;
    list-style: none;
}

.menu li a{
    color: rgb(170, 0, 28);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 0.5rem;
    text-decoration: none;
}

.menu a:hover{
    background-color: white;
    color: black;
    transition: ease-in .4s;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 30vh;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    grid-area: main;
}

.img-woman{
    width: 300px;
    text-align: center;
}

h1{
    font-size: 1rem;
}

.download-cv{
    padding: 10px 20px;
    background-color: rgb(243, 95, 181);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 2px rgb(240, 64, 166);
}

.download-cv:hover{
    background-color: rgb(253, 205, 205);
}

.main img{
    width: 200px;
    border: 7px;
}

.about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100vw;
    align-items: center;
    grid-area: about;
}

.about-achievements{
    grid-column: 1/5;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bolder;
}

/*para pantallas hasta 480px: display:none; para más: display:flex; */
.image-indi{
    display: none;
    height: fit-content;
}

    /* grid-column: 1/2; */


.about-info{
    grid-column: 1/5;
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: bolder;
}

h2{
    font-size: 1.2rem;
    margin: 5px;
    margin-top: 30px;
    margin-left: 30px;

}

.divider{
    height: 4px;
    width: 120px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    
}
.about p, section{
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bolder;
    padding: 30px;
}

.contactMe{
    grid-column: 1/7;
}

.footer{
    grid-area: footer;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    color: darkmagenta;
    font-weight: bold;
    margin-top: auto;
    display: flex;
}

/* cuando haya como minimo 600px, las cosas se acomodan de la siguiente forma*/
@media only screen and (min-width:600px){
    
    .menu {
        display: flex;
        margin: 30px;
    }

    .menu li a {
        padding: 10px;
        font-size: 0.7rem;
        display: block;
    }

}

/* cuando haya como minimo 600px, las cosas se acomodan de la siguiente forma*/
@media only screen and (min-width:768px){

    .menu li a {
        padding: 10px;
        font-size: 1rem;
        display: block;
    }

    .image-indi{
        display: flex;
        grid-column: 1/1;
    }

    .about-info{
        grid-column: 2/5;
    }
}

@media only screen and (min-width:1024px){
    
    .brand{
        margin: 10px 20px;
    }

    h1{
        font-size: 2rem;
    }

    .about{
        font-size: 1rem;
    }

    .about-achievements{
        font-size: 1rem;
    }

}