@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100&family=Roboto:wght@500&display=swap');

@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/maps";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background: $default-background-color-white;

    ul {
        padding: 0px 30px;
        list-style: none;
    }

    img {
        width: 100px;
    }

    h1 {
        font-size: 1.2rem;
        font-weight: 600;
        display: inline-block;
        padding: 30px;
    }

    h2 {
        font-size: 1.2rem;
        margin: 5px;
        margin-top: 30px;
        margin-left: 30px;
        font-weight: bolder;
    }

    h3 {
        font-weight: bolder;
        font-size: 1rem;
    }

    .div-body-grid-content-2-columns {
        display: grid;
        grid-template-areas: "wrapper wrapper"
            "about about "
            "footer footer";
    }

    .div-body-grid-content {
        display: grid;
        grid-template-areas: "wrapper"
            "about"
            "footer";
        justify-content: center;
        margin: 0;


        .about-projects,
        .about-achievements,
        .about-work {
            @include flex;
            flex-flow: column nowrap;
            padding: 5px;

            h2 {
                margin: 0;
                margin-bottom: 10px;
                font-weight: bolder;

                border-bottom: 1px solid pink;
            }

            .p-achievements {
                font-size: 0.7rem;
                margin: 0;
            }

            margin: 20px;

            .project {
                margin-bottom: 40px;

                .h3 {
                    font-weight: bolder;
                }

                .achievement {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }

            a {
                text-decoration: none;
                color: nth($list: $colores, $n: 2);
                font-weight: map-get($map: $font-weights, $key: bold);
            }
        }


    }

    .nav-link {
        font-weight: map-get($map: $font-weights, $key: bold);
    }



    .wrapper {
        @include size(100vw, 50vh);
        background-color: pink;
        color: nth($colores, 2);
        grid-area: wrapper;
        grid-template-areas: "header header"
            "main main";

        .header {
            background-color: pink;
            color: nth($colores, 2);
            grid-area: header;

            .navbar {
                font-weight: bolder;
                font-size: 1rem;

                .nav-link {
                    margin: 0px 10px;
                    text-align: center;

                    &:hover {
                        transform: scale(1.1, 1.3);
                        transition: ease-in .2s;
                    }
                }

                .menu {
                    /*para pantallas hasta 600px: display:grid; para más: display:flex; */
                    display: grid;
                    text-align: center;
                    width: 50%;
                    justify-content: space-around;
                    list-style: none;

                    .menu ul li {
                        display: flex;

                        a {
                            color: rgb(170, 0, 28);
                            padding: 10px 20px;
                            font-weight: map-get($map: $font-weights, $key: bold);
                            font-size: 0.5rem;
                            text-decoration: none;

                            &:hover {
                                background-color: white;
                                color: black;
                                transition: ease-in .4s;
                            }
                        }
                    }
                }
            }
        }

    }

    .main {
        margin: 0 auto;
        @include flex;
        /* grid-template-columns: repeat(2, 1fr); */
        align-items: center;
        grid-area: main;

        .info-content {
            @include flex;
            flex-flow: column wrap;

            .download-cv {
                @extend %btn;
            }
        }

        .img-woman {
            border: 7px;
            text-align: center;
        }
    }

    .about,
    .about-info {
        margin-bottom: 1em;
        font-size: 0.9rem;
        font-weight: bolder;
        padding: 30px;
    }

    .about {
        width: 100vw;
        align-items: center;
        grid-area: about;

        /*para pantallas hasta 480px: display:none; para más: display:flex; */
        .image-indi-div {
            display: none;
        }

        .contact-me {

            input,
            textarea {
                width: 90vw;
            }

            @include flex;
            text-align: left;

            .send-button {
                @include flex;

                .send {
                    @extend %btn;
                }
            }
        }

        .about-info {
            padding: 1rem;
            font-size: 0.9rem;
            font-weight: bolder;

            .divider {
                @include size(120px, 4px);
                background-color: black;
                margin-top: 0px;
                margin-bottom: 1rem;
                margin-left: 1rem;
            }
        }

        .about-info-conB {
            padding: 1rem;
            font-size: 0.9rem;
            font-weight: bolder;
        }

        .contactMe {
            grid-column: 1/7;
        }
    }

    .about-conB {
        align-items: center;
        justify-content: center;
    }

    .footer {
        grid-area: footer;
        @include flex;
        border-top: pink 2px;
        border-top-style: solid;
        padding: 0.5rem 0;
        color: rgb(240, 64, 166);
        font-weight: bold;
        margin-top: auto;


        @keyframes beat {
            to {
                transform: scale(1.4);
            }
        }

        .img-heart {
            width: 25px;
            font-size: 20px;
            color: #e00;
            animation: beat .25s infinite alternate;
            transform-origin: center;
        }

        p {
            margin: 20px;
        }

    }

    /* cuando haya como minimo 600px, las cosas se acomodan de la siguiente forma*/
    @media only screen and (min-width:600px) {

        .wrapper {
            @include size(100vw, 60vh)
        }

        .menu {
            display: flex;
            margin: 30px;

            li a {
                padding: 10px;
                font-size: 0.7rem;
                display: block;
            }
        }

        .logo {
            @include size(150px, 150px)
        }

        .img-woman {
            width: 150px;
        }

        .image-indi {
            display: none;
        }

    }

    /* cuando haya como minimo 600px, las cosas se acomodan de la siguiente forma*/
    @media only screen and (min-width:768px) {

        .menu li a {
            padding: 10px;
            font-size: 1rem;
            display: block;
        }

        .about-info {
            grid-column: 1/6;
        }

        .about-projects {

            @include flex;

            .project-img-div {

                .project-img {
                    width: 300px;
                }
            }
        }
    }

    @media only screen and (min-width:1024px) {

        .navbar {
            font-weight: bolder;
        }

        .navbar-collapse {
            flex-grow: 0;
        }

        .brand {
            margin: 10px 20px;
        }

        h1 {
            display: inline-block;
            font-size: 2rem;
        }

        .about {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            font-size: 1rem;

            .image-indi-div {
                grid-column: 1/3;
                @include flex;

                .image-indi {
                    height: fit-content;
                }
            }

            .about-info {
                grid-column: 3/6;
            }
        }

        .about-achievements {
            font-size: 1rem;

            .project {
                display: grid;
                grid-template-areas: "h2-achievements h2-achievements h2-achievements"
                    "achievements-col-1 achievements-col-1 achievements-col-2"
                    "achievements-col-1 achievements-col-1 achievements-col-2";

                .h2-achievements {
                    display: box;
                    grid-area: h2-achievements;
                }

                .achievements-col-1 {
                    grid-area: achievements-col-1;
                }

                .project-img-div {
                    grid-area: achievements-col-2;

                    .project-img {
                        width: 250px;
                    }

                }
            }
        }

        .about-work {
            font-size: 1rem;

            .project {
                display: grid;
                grid-template-areas: "achievements-col-1 achievements-col-2"
                    "achievements-col-1 achievements-col-2";

                .achievements-col-1 {
                    grid-area: achievements-col-1;

                    .achievement {
                        padding: 30px;
                    }
                }

                .project-img-div {
                    grid-area: achievements-col-2;

                    .project-img {
                        width: 250px;
                    }

                    .achievement {
                        padding: 30px;
                    }
                }
            }
        }

        .image-indi {
            display: flex;
            @include size(max-content, 500px);
        }

        .about,
        .about-info p,
        section {
            font-weight: bolder;
            padding: 30px;
        }
    }


    @media only screen and (min-width:1200px) {

        .header {
            padding: 0px;
        }

        .navbar {
            padding: 0px;

            .nav-item {
                color: rgb(170, 0, 28);
                padding: 5px 5px;
                font-weight: bold;
                font-size: 1.7rem;
                text-decoration: none;

                .logo {
                    @include size(200px, 200px)
                }
            }
        }

        img {
            width: 150px;
            border: 7px;
            text-align: center;
        }

        .brand {
            margin: 10px 20px;
        }

        h1 {
            font-size: 3rem;
            padding-left: 50px;
        }

        .image-indi {
            height: fit-content;
        }

        p {
            font-size: 1.4rem;
        }

        section {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 2rem;
            margin: 5px;
            margin-top: 30px;
            margin-left: 30px;
        }

        h3 {
            font-size: 2.7rem;
        }

        .img-woman {
            @include size(300px, 400px);
            animation-name: move;
            animation-iteration-count: infinite;
            animation-duration: 5s;
        }

        .download-cv {
            font-size: 3rem;
        }

        .about-achievements {

            font-size: 1rem;

            .project {

                h3 {
                    font-size: 1.5rem;
                }

                .p-achievements {
                    font-size: 1rem;
                    font-weight: map-get($map: $font-weights, $key: "bold");
                }

                .achievements-col-1,
                .project-img-div {
                    @include flex;
                    flex-direction: column;
                }
            }
        }

        .main {
            padding-bottom: 50px;
        }

        .work {
            border: 1px solid pink;
            margin: 20px;
        }

        .div-body-grid-content{
            .about-projects{
                padding-top: 50px;
            }

            .about-work {
                padding-top: 50px;
                .project {
                    @include flex;
    
                    h2 {
                        border: none;
                    }
    
                    .p-achievements {
                        font-size: 1rem;
                        font-weight: map-get($map: $font-weights, $key: "bold");
                    }
                }
            }
        }

    }
}